
<h2 class="text-capilization text-center headerMessage1">Search ISA Registration Number</h2>

<div class="form-group">

    <div class="col-md-4">
    <label for="exampleFormControlInput1" class="form-label">Enter Membership No.</label>
    <input type="text" class="form-control" id="txtmemno" placeholder="Enter Membership No">
</div>
    <div class="col-md-4">
    <label for="exampleFormControlTextarea1" class="form-label">Enter Date of Birth.</label>
    <input type="text" class="form-control" id="txtdob" placeholder="DD/MM/YYYY">
</div>
    <div class="col-md-4">
    <button type="submit" class="btn btn-primary mb-3">CHECK STATUS</button>
</div>

</div>

@*<div class="container mt-3">
    <div class="table-responsive-sm">
        <table class="table table-sm table-bordered border-primary table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CenterNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CenterName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CenterState)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CenterZone)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CenterNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CenterName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CenterState)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CenterZone)
                        </td>
                    </tr>
                }
            </tbody>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CenterNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CenterName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CenterState)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CenterZone)
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
*@
<br />
&nbsp;
